name: Deploy Portfolio to GitHub Pages

on: 
  push:
    branches:
      - main
      
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Setup Pages
      uses: actions/configure-pages@v4
      with:
        enablement: true

    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: "."

    - name: Deploy to GitHub Pages
      uses: actions/deploy-pages@v4


  
